.footer__link-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

@media all and (min-width: 320px) and (max-width: 650px) {

    .footer__link-list {
      flex-direction: column;
      align-items: flex-start;
    }
  }