.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: max-content;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
}

@media screen and (min-width: 651px) and (max-width: 950px) {

    .place__title {
      max-width: 340px;
      font-size: 42px;
      line-height: 46px;
    }
}  

@media all and (min-width: 320px) and (max-width: 650px) {

  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: calc(100% - 32px);
    grid-column: 1;
    margin: 0 0 0 16px;
  }
}