.intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

@media all and (min-width: 320px) and (max-width: 650px) {
 
  .intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }
}