@import url(../vendor/normalize.css);
@import url(/fonts/Inter/inter.css);
@import url(/blocks/page/page.css);
@import url(/blocks/header/header.css);
@import url(/blocks/header/__logo/header__logo.css);
@import url(/blocks/header/__lang-links/header__llang-inks.css);
@import url(/blocks/header/__lang-link/header__lang-link.css);
@import url(/blocks/lead/lead.css);
@import url(/blocks/lead/__title/lead__title.css);
@import url(/blocks/lead/__subtitle/lead__subtitle.css);
@import url(/blocks/lead/__image/lead__image.css);
@import url(/blocks/lead/__caption/lead__caption.css);
@import url(/blocks/intro/intro.css);
@import url(/blocks/intro/__title/intro__title.css);
@import url(/blocks/intro/__text/intro__text.css);
@import url(/blocks/intro/__list/intro__list.css);
@import url(/blocks/photo-grid/photo-grid.css);
@import url(/blocks/photo-grid/__item/photo-grid__item.css);
@import url(/blocks/places/places.css);
@import url(/blocks/place/place.css);
@import url(/blocks/place/__title/place__title.css);
@import url(/blocks/place/__image.css/place__image.css);
@import url(/blocks/place/__website/place__website.css);
@import url(/blocks/place/__url-heading/place__url-heading.css);
@import url(/blocks/place/__link/place__link.css);
@import url(/blocks/place/__link-text/place__link-text.css);
@import url(/blocks/place/__text/place__text.css);
@import url(/blocks/place/__paragraph/place__paragraph.css);
@import url(/blocks/cover/cover.css);
@import url(/blocks/cover/__title/cover__title.css);
@import url(/blocks/cover/__subtitle/cover__subtitle.css);
@import url(/blocks/cover/__background/cover__background.css);
@import url(/blocks/cover/__overlay/cover__overlay.css);
@import url(/blocks/footer/footer.css);
@import url(/blocks/footer/__links/footer__links.css);
@import url(/blocks/footer/__link/footer__link.css);
@import url(/blocks/footer/__copyright/footer__copyright.css);

@media screen and (min-width: 951px) and (max-width: 1150px){
  
  .header {
    margin: 28px auto 48px;
  }
  
  .lead {
    width: calc(100% - 96px);
  }
  
  .lead__subtitle {
    padding: 32px 0 56px;
  }

  .lead__image {
    width: 100%;
    margin: 0 auto;
  }
  
  .lead__caption {
    padding-left: 0;
  }

  .intro {
    max-width: 690px;
    margin: 92px 0 88px 48px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, 100%));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    gap: 14px;
    margin-bottom: 92px;
  }

  .places {
    display: flex;
    flex-direction: column;
    width: calc(100% - 92px);
    margin: 0 auto 12px;
  }

  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 484px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    width: 100%;
    gap: 48px 32px;
    margin-bottom: 80px;
  }

  .place__image {
    min-width: 440px;
    max-width: 460px;
    width: 100%;
  }

  .cover {
    width: 100%;
    max-height: 640px;
    min-height: 480px;
  }

  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (min-width: 651px) and (max-width: 950px) {
  .header {
    width: calc(100% - 48px);
    margin: 28px auto 48px;
  }
  
  .lead {
    width: 100%;
  }

  .lead__subtitle {
    padding: 32px 0 57px;
  }

  .lead__image {
    width: 100%;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 720px;
    margin: 88px auto 88px 24px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 100%));
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    width: calc(100% - 48px);
    margin-bottom: 88px;
  }

  .places {
    width: calc(100% - 48px);
    margin: 0 auto;
  }
  
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(352px, 456px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    width: 100%;
    margin: 0 auto;
    gap: 48px 28px;
    margin-bottom: 72px;
  }

  .place__title {
    max-width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    min-width: 340px;
  }

  .place__text {
    min-width: 288px;
    max-width: 456px;
  }

  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    width: 100%;
  }

  .cover {
    width: 100%;
    min-height: 480px;
    }

    .cover__overlay {
      min-height: 480px;
    }

  .footer {
    width: calc(100% - 48px);
    margin: 88px auto 24px;
  }
}

@media all and (min-width: 320px) and (max-width: 650px) {
  .header {
    width: calc(100% - 32px);
    min-height: 42px;
    margin: 16px auto 48px;
  }

  .header__lang-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .logo {
    background-image: url(/images/header-logo.svg);
    max-width: 142px;
    max-height: 42px;
    background-size: cover;
    background-position: center;
  }

  .lead {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .lead__title {
    min-width: 288px;
    min-height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
  
  .lead__subtitle {
    min-width: 288px;
    min-height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 0 40px;
  }
  
  .lead__image {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  
  .lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 8px;
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  
  .intro {
    min-height: 429px;
    max-width: 100%;
    width: calc(100% - 32px);
    margin: 61px auto 64px;
  }
  .intro__title {
    max-width: 690px;
    min-height: 58px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  
  .intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-top: 40px;
  }
  
  .intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    gap: 12px;
    width: calc(100% - 32px);
    object-fit: cover;
    object-position: center;
    margin-bottom: 64px;
  }

  .places {
    width: 100%;
    margin: 0 auto 18px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(320px, max-content);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 32px 0;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .place:last-of-type {
    margin-bottom: 0;
  }
  
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    width: calc(100% - 32px);
    grid-column: 1;
    margin: 0 auto;
  }
  
  .place__image {
    width: 100%;
    max-width: 460px;
    grid-row: 3/4;
    margin: 0 auto;
  }
  
  .place__website {
    width: calc(100% - 32px);
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: end;
    margin: 0 auto;
  }
  
  .place__link {
    color: #FFFFFF;
    text-decoration-line: underline;
    transition: 300ms;
  }

  .place__text {
    max-width: calc(100% - 32px);
    grid-row: 4/5;
    margin: 0 auto;
  }

  .place__paragraph {
    display: grid;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    width: 100%;
    margin: 0;
  }

  .cover {
    width: 100%;
    min-height: 200px;
    margin-top: 66px;
  }
  
  .cover__overlay {
    width: 100%;
    min-height: 200px;
  }
  
  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
  }
  
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding-bottom: 16px;
  }
  
  .cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 186px;
    max-width: min-content;
    margin: 64px auto 24px 16px;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 0;
    padding-bottom: 32px;
  }
  
  .footer__link:last-of-type {
    padding-bottom: 0;
  }
  
  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 33px;
  }
}