.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 96px);
    margin: 80px auto 24px;
}

@media screen and (min-width: 651px) and (max-width: 950px) {

  .footer {
    width: calc(100% - 48px);
    margin: 88px auto 24px;
  }
}

@media all and (min-width: 320px) and (max-width: 650px) {

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 186px;
    max-width: min-content;
    margin: 64px auto 24px 16px;
  }
}