.place__website {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: end;
    align-items: flex-start;
}

@media all and (min-width: 320px) and (max-width: 650px) {
 
  .place__website {
    width: calc(100% - 32px);
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: end;
    margin: 0 auto;
  }
}